{% extends 'base.html.twig' %}

{% block title %}A propos de l'équipe{% endblock %}

{% block main %}
    <section>
        <h1>{{ titlePage | upper }}</h1>
    </section>
    <section>

        <!-- Carte n°1 -->
        <div class="card">
            <div class="card__header">
                <img src="" alt="font d'écran de la carte" />
            </div>
            <div class="card__body">
                <img src="" alt="photo de profile" />
                <h3>Nom Prénom - <small>Développeur Fullstack</small></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora saepe consequuntur minus.</p>
            </div>
            <div class="card__footer">
                <span>Rôle: <strong>Product Owner</strong></span>
                <span><a href="" ><img src="" alt="linkedin" /></a></span>
            </div>
        </div><!-- End Carte n°1 -->

        <!-- Carte n°2 -->
        <div class="card">
            <div class="card__header">
                <img src="" alt="font d'écran de la carte" />
            </div>
            <div class="card__body">
                <img src="" alt="photo de profile" />
                <h3>Nom Prénom - <small>Développeur Fullstack</small></h3>
                
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora saepe consequuntur minus.</p>
            </div>
            <div class="card__footer">
                <span>Rôle: <strong>Scrum Master</strong></span>
                <span><a href="" ><img src="" alt="linkedin" /></a></span>
            </div>
        </div><!-- End Carte n°2 -->

        <!-- Carte n°3 -->
        <div class="card">
            <div class="card__header">
                <img src="" alt="font d'écran de la carte" />
            </div>
            <div class="card__body">
                <img src="" alt="photo de profile" />
                <h3>Nom Prénom - <small>Développeur Fullstack</small></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora saepe consequuntur minus.</p>
            </div>
            <div class="card__footer">
                <span>Rôle: <strong>Scrum Master</strong></span>
                <span><a href="" ><img src="" alt="linkedin" /></a></span>
            </div>
        </div><!-- End Carte n°3 -->

        <!-- Carte n°4 -->
        <div class="card">
            <div class="card__header">
                <img src="" alt="font d'écran de la carte" />
            </div>
            <div class="card__body">
                <img src="" alt="photo de profile" />
                <h3>Nom Prénom - <small>Développeur Fullstack</small></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora saepe consequuntur minus.</p>
            </div>
            <div class="card__footer">
                <span>Rôle: <strong>Scrum Master</strong></span>
                <span><a href="" ><img src="" alt="linkedin" /></a></span>
            </div>
        </div><!-- End Carte n°4 -->
    </section>
{% endblock %}
