{% extends 'base.html.twig' %}

{% block title %}Votre panier{% endblock %}

{% block main %}
    <div class="title__container">
        <h1>{{ titleH1 | upper }}</h1>
    </div>
    <section class="p-50">
        <ul>
            {% for cart in carts %}
                <li>{{ cart.id }} : {{ cart.quantity }}</li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
