{% extends 'base.html.twig' %}

{% block title %}Votre panier{% endblock %}

{% block main %}
    <div class="title__container">
        <h1>{{ titleH1 | upper }}</h1>
    </div>
    <section>
        Le code du panier ici
    </section>
{% endblock %}
