{% extends 'base.html.twig' %}

{% block title %}Mon compte client{% endblock %}

{% block main %}
    <div class="title__container">
        <h1>{{ titleH1 | upper }}</h1>
        <p class="lead">N° du compte client ici non ?</p>
    </div>
    <section>
        Le code du compte client ici
    </section>
{% endblock %}
