{% extends 'base.html.twig' %}

{% block title %}Modification du compte client{% endblock %}

{% block main %}
    <div class="title__container">
        <h1>{{ titlePage | upper }}</h1>
        <p class="title__message">Éditez vos informations en toute sécurité</p>
    </div>
    <section class="form__container">
        {{ form(form) }}
    </section>
{% endblock %}
