{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié ? Pas de panique !{% endblock %}

{% block main %}
    <p>
        Salut ! Mon petit doigt m'a dit que t'avais perdu ton mot de passe ? Pas de panique, si l'adresse mail que tu nous as communiqué existe en base de donnéee un mail te serra envoyé.
        Le lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si tu ne reçois pas l'email dans ta boite ou dans tes spam <a href="{{ path('app_forgot_password_request') }}">réessaye</a>.</p>
{% endblock %}
