{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block main %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div class="title__container">
    <h1>MOT DE PASSE OUBLIÉ</h1>
        <div class="title">
    <p>Vous avez perdu l’accès à votre compte ? Pas de panique<p>
    </div>
        </div>

    <div class="block">
    {{ form_start(requestForm, {'attr': {'class': 'labelForm'}}) }}
    <div class="form-container">
        {{ form_row(requestForm.email, {'attr': {'class': ''}}) }}
    </div>
    </div>
        <button class="btn btn-primary ">Envoyer un mail de réinitialisation de mot de passe</button>
    {{ form_end(requestForm) }}
    </div>
{% endblock %}
