{% extends 'base.html.twig' %}

{% block title %}Réinitialiser le mot de passe{% endblock %}

{% block main %}
<div class="title__container">
    <h1>MOT DE PASSE OUBLIÉ</h1>
    <div class="title">
    <p>Vous avez perdu l’accès à votre compte ? pas de panique<p>
    </div>
</div>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Modifier votre mot de passe</button>
    {{ form_end(resetForm) }}
{% endblock %}
