{% extends 'base.html.twig' %}

{% block title %}FAQ - Foire Aux Questions{% endblock %}

{% block main %}
    <div class="titlePage">
        <h1>{{ titlePage | upper }}</h1>
    </div>
{% endblock %}
