.btn {
    cursor: pointer;
    margin: 5% auto;
    width: 80%;
    max-width: 300px;
    height: 54px;
    box-shadow: $box-shadow;
    border-radius: 5px;
    text-align: center;
    font-size: 2.8vmin;
    font-family: $font-family;
    font-weight: bold;
    letter-spacing: 4px;
    transition: opacity 0.4s ease-in-out;
    text-transform: uppercase;
    &-primary {
        background: $primary-color;
        color: $white-color;
    }
    &-info {
        background: lightskyblue;
        color: $black-color;
    }
    &-warning {
        background: lightgoldenrodyellow;
        color: $black-color;
    }
    &-danger {
        background: indianred;
        color: $white-color;
    }
    &:hover {
        opacity: 0.8;
    }
}
