body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $white-color;
    color: $black-color;
    @include xl {
        max-width: 1200px;
        margin: 0 auto;
    }
}

main {
    flex: 1;
    max-width: 100%;
    .title__container {
        background-color: $primary-color;
        padding: 60px 0;
        /* main div.titleContainer h1 */
        h1 {
            color: $creame-color;
            font-size: 48px;
            text-align: center;
            text-shadow: 2px 2px $black-color;
        }
    }
}
