{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block main %}
    <div class="title__container">
        <h1>{{ titleH1 | upper }}</h1>
    </div>

    <section class="legalNotites__container">
        <div class="alert alert-info">
            Projet d'école pour l'obtention de notre soutenance
        </div>
    
        <h2>1 - Informations générales</h2>
        <ul>
            <li>
                <strong>Nom de l'entreprise :</strong>
                <span>STAMIOT</span>
            </li>
            <li>
                <strong>Adresse :</strong>
                <span>78 Route de Paris, 69260 à Charbonnière les bains</span>
            </li>
            <li>
                <strong>Téléphone :</strong>
                <span>04.69.69.69.69</span>
            </li>
            <li>
                <strong>E-mail :</strong>
                <span>contact@handy-mirror.com</span>
            </li>
            <li>
                <strong>Numéro d'identification :</strong>
                <span>XXXXXXXXX</span>
            </li>
        </ul>

        <h2>2 - Propriété intellectuelle</h2>
        <p>
            Tous les contenus présents sur ce site, tels que les textes, les graphiques, les logos, les images, les vidéos, les icônes,
            les scripts et les logiciels, sont la propriété exclusive de [Nom de votre entreprise] ou de ses partenaires et sont protégés
            par les lois nationales et internationales sur le droit d'auteur.
        </p>

        <h2>3 - Collecte et utilisation des données personnelles</h2>
        <h3>3.1 Collecte des données personnelles</h3>
        <p>
            Lorsque les utilisateurs accèdent à notre site, créent un compte ou effectuent un achat, nous collectons certaines données personnelles, telles que leur nom,
            leur adresse, leur adresse e-mail, leur numéro de téléphone, etc. Ces informations sont nécessaires au traitement des commandes
            et à la communication avec les clients.
        </p>

        <h3>3.2 Utilisation des données personnelles</h3>
        <p>
            Les données personnelles collectées sont utilisées dans le but de fournir des services personnalisés aux clients, de traiter les commandes,
            d'améliorer notre site et nos services, et de se conformer aux obligations légales.
            Nous ne partagerons ni ne vendrons les données personnelles de nos clients à des tiers,
            sauf autorisation expresse de leur part ou si cela est requis par la loi.
        </p>

        <h2>4 - Sécurité des données</h2>
        <p>
            Nous mettons en œuvre des mesures de sécurité appropriées pour protéger les données personnelles de nos clients contre tout accès non autorisé,
            toute divulgation, toute altération ou toute destruction. Cependant,
            aucune méthode de transmission sur Internet ou de stockage électronique n'est totalement sécurisée,
            et nous ne pouvons garantir la sécurité absolue des données.
        </p>

        <h2>5 - Cookies</h2>
        <p>
            Notre site utilise des cookies pour améliorer l'expérience de navigation des utilisateurs,
            personnaliser le contenu, fournir des fonctionnalités des médias sociaux et analyser notre trafic.
            Les utilisateurs peuvent contrôler les cookies via les paramètres de leur navigateur.
            Pour plus d'informations sur l'utilisation des cookies, veuillez consulter notre Politique de cookies.
        </p>

        <h2>6 - Paiements</h2>
        <p>
            Les paiements effectués sur notre site sont sécurisés et traités par des prestataires de services de paiement tiers.
            Nous ne stockons pas les informations de paiement sensibles telles que les numéros de carte de crédit.
            Les utilisateurs sont invités à consulter les conditions générales de nos prestataires de services de paiement
            pour plus d'informations sur la sécurité des transactions.
        </p>

        <h2>7 - Responsabilité</h2>
        <p>
            Nous nous efforçons de fournir des informations précises et à jour sur notre site. Cependant,
            nous ne pouvons garantir l'exactitude, l'exhaustivité ou la pertinence des informations fournies.
            En conséquence, nous déclinons toute responsabilité pour les éventuelles erreurs ou omissions présentes sur le site.
        </p>

        <h2>8 - Liens vers des sites tiers</h2>
        <p>
            Notre site peut contenir des liens vers des sites tiers qui ne sont pas sous notre contrôle.
            Nous n'assumons aucune responsabilité quant au contenu, à la sécurité ou à la confidentialité des informations fournies sur ces sites tiers.
            L'accès à ces sites se fait aux risques et périls des utilisateurs.
        </p>

        <h2>9 - Modifications des mentions légales</h2>
        <p>
            Nous nous réservons le droit de modifier ces mentions légales à tout moment.
            Les utilisateurs seront informés des modifications via notre site. 
            Il est recommandé de consulter régulièrement cette page pour rester informé des éventuelles mises à jour.
        </p>

        <br>        
        <hr>
        <br>

        <p class="legalNotites__info">
            Ces mentions légales sont soumises à la législation en vigueur et aux tribunaux compétents de <strong>France</strong>.
        </p>

    </section>
{% endblock %}
