.client__container {
    padding: 10%;
    @include md {
        padding: 10% 15%;
    }
    @include lg {
        padding: 5% 10%;
    }
}

.user-profile {
    position: relative;
    background-color: $creame-color;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    padding: 5% 10%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'icon'
        'info';
    @include sm {
        grid-template-columns: 0.3fr 1fr;
        grid-template-areas: 'icon info';
        gap: 25px;
    }

    .profile-image {
        width: 30%; // Largeur souhaitée pour l'icône
        height: fit-content;
        margin: 0 auto;
        margin-bottom: 5%;
        filter: drop-shadow(0 0 2.5px $primary-color);
        opacity: 0.8;
        @include sm {
            width: 100%;
        }
    }

    .user-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-bottom: 5%;
        padding: 10% 5%;
        background-color: $white-color;

        .info {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-family: Inter;
            font-weight: 700;
            font-size: 16px;
            span {
                &:nth-child(2) {
                    font-style: italic;
                    font-weight: 400;
                }
            }
            @include md {
                font-size: 20px;
            }
        }

        a {
            position: absolute;
            top: 20px;
            right: 20px;
            padding: 8px;
            background-color: $primary-color;
            color: $white-color;
            font-size: 24px;
            border-radius: 50%;
            cursor: pointer;
            transition: background-color 0.4s ease-in-out,
                transform 0.4s ease-in-out, color 0.4s ease-in-out;
            &:hover {
                transform: scale(1.1);
                color: $primary-color;
                background-color: $white-color;
                box-shadow: $box-shadow;
            }
        }
    }
}

.btnmodif {
    cursor: pointer;
    margin: 0 auto;
    width: auto;
    height: 40px;
    padding: 8px 16px;
    display: flex;
    box-shadow: $box-shadow;
    border-radius: 5px;
    align-items: center;
    font-size: 2vmin;
    font-family: Inter;
    font-weight: bold;
    letter-spacing: 4px;
    transition: opacity 0.4s ease-in-out;
    text-transform: uppercase;

    @media screen and (max-width: 768px) {
        font-size: 2.4vmin;
        text-align: center;
    }

    &-primary {
        background: $primary-color;
        color: $white-color;
    }

    &:hover {
        opacity: 0.8;
    }
}

.orderbutton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 3vmin;
    color: $primary-color;
}

.commandinfo {
    text-align: center;
}

.order__command {
    margin: 0 10% 10%;
}

hr {
    margin: 2.5%;
}
