table {
    width: 100%;
    border: 2px solid $creame-color;
    border-collapse: collapse;
}

thead {
    background-color: $primary-color;
    color: $creame-color;
    text-transform: uppercase;
    th {
        padding: 12px 0;
        border: 2px solid $creame-color;
    }
}

tbody {
    td {
        border-collapse: collapse;
        border: 2px solid $creame-color;
        padding: 8px 16px;
        img {
            width: 50px;
            height: 50px;
        }
        select {
            padding: 8px 16px;
            width: 100%;
            cursor: pointer;
        }
        &:nth-child(4),
        &:nth-child(5) {
            font-size: 24px;
            text-align: center;
        }
    }
}

tfoot {
    td {
        border: 2px solid $creame-color;
        border-collapse: collapse;
        padding: 16px 32px;
        background-color: $black-color;
        color: $creame-color;
        &:nth-child(1) {
            visibility: hidden;
        }
        &:nth-child(2) {
            text-align: right;
            text-transform: uppercase;
        }
        &:nth-child(3) {
            border: 2px solid $black-color;
            border-right: $creame-color;
            background-color: $creame-color;
            text-align: center;
            font-size: 24px;
            color: $black-color;
        }
    }
    tr {
        &:nth-child(3) {
            td {
                &:nth-child(2) {
                    border: 2px solid $black-color;
                    border-right: $creame-color;
                    border-bottom: $creame-color;
                }
            }
        }
    }
}

table + div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2vmin!important;
    }
}