/* main section.describe__content */
.describe__content {
    padding: 3%;
    background-color: $white-color;
    display: flex;
    gap: 25px;

    div {
        &:first-child {
            width: 60%;
            letter-spacing: 1.6px;
            white-space: pre-line;
            padding: 0 50px;
        }
        &:last-child {
            width: 40%;
            height: fit-content;
            background-color: red;
        }
    }
}