.productsList__container {
    margin: 10% 15%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: 500px;
    gap: 25px;

    @include sm {
        margin: 15% 20%;
    }
    @include md {
        margin: 5% 10%;
    }
}

.card__container {
    min-width: 100%;
    transition: box-shadow 0.4s ease-in-out;
    box-shadow: $box-shadow;
    @include sm {
        width: 50%;
    }
    @include md {
        width: 33%;
    }
    .card__header {
        overflow: hidden;
        img {
            width: 100%;
            height: 150px;
            background-position: center;
            background-size: cover;
            filter: sepia(90%);
            transition: filter 0.8s ease-in-out, transform 0.8s ease-in-out;
            &:hover {
                filter: sepia(25%);
                transform: scale(1.2);
            }
        }
    }
    .card__body {
        border-radius: 3px 3px 0 0;
        padding: 5%;
        height: 250px;
        background-color: $creame-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        h2 {
            text-transform: uppercase;
            font-size: 2vmax;
            @include md {
                font-size: 1.2vmax;
            }
        }
        p {
            margin: 2.5% 0;
            font-style: italic;
        }
        span {
            font-size: 48px;
            color: indianred;
            font-weight: 900;
        }
    }
    .card__footer {
        background-color: $black-color;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px 16px;
        color: $white-color;
        a {
            cursor: pointer;
            font-size: 2vmax;
            color: $white-color;
            background-color: $black-color;
            border-radius: 6px;
            padding: 8px 16px;
            border: 2px solid $creame-color;
            transition: color 0.4s ease-in-out,
                background-color 0.4s ease-in-out;
            @include md {
                font-size: 1.2vmax;
                border-radius: 6px;
                padding: 8px;
            }
            &:hover {
                color: $black-color;
                background-color: $creame-color;
            }
        }
    }
}
