{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block main %}
    <div class="title__container">
        <h1>{{ titleH1 | upper }}</h1>
        <p class="title__message">Décrouvez vite nos produits</p>
    </div>
    <section>
        Liste des produits ici
    </section>
{% endblock %}
