        <footer>
            <ul>
                <li><a href="{{ path('app_about') }}">A propos de nous</a></li>
                <li><a href="{{ path('app_legal_notites') }}">Mentions Légales</a></li>
                <li><a href="{{ path('app_faq') }}">FAQ</a></li>
                <li><a href="{{ path('app_contact') }}">Contactez-nous</a></li>
            </ul>
            <p>
                <span>&copy; Copyright 2023-2024</span>
                <span>Code by ❤️</span>
            </p>
        </footer>