<header>
    <img src="{{ asset('/images/logo.png') }}" alt="Notre logo">
    <nav>
        <ul>
            <li><a href="{{ path('app_home') }}">Accueil</a></li>
            <li><a href="{{ path('app_about') }}">A propos</a></li>
            <li><a href="{{ path('app_contact') }}">Contactez-nous</a></li>
        </ul>
    </nav>
</header>